//! **************************************************************************
// Written by: Map P.20131013 on Wed Feb 17 17:26:54 2016
//! **************************************************************************

SCHEMATIC START;
COMP "Z_out<0>" LOCATE = SITE "M11" LEVEL 1;
COMP "Z_out<1>" LOCATE = SITE "N11" LEVEL 1;
COMP "Z_out<2>" LOCATE = SITE "R11" LEVEL 1;
COMP "Z_out<3>" LOCATE = SITE "T11" LEVEL 1;
COMP "X_in<0>" LOCATE = SITE "V8" LEVEL 1;
COMP "X_in<1>" LOCATE = SITE "T5" LEVEL 1;
COMP "Y_in<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "Y_in<1>" LOCATE = SITE "U8" LEVEL 1;
SCHEMATIC END;

