

NET "Reset_n_in" LOC = T5;
NET "Drcd_in" LOC = C9;
NET "CAn_out" LOC = T17;
NET "CBn_out" LOC = T18;
NET "CCn_out" LOC = U17;
NET "CDn_out" LOC = U18;
NET "CEn_out" LOC = M14;
NET "CFn_out" LOC = N14;
NET "CGn_out" LOC = L14;

# PlanAhead Generated physical constraints 

NET "Soda_req_in" LOC = B8;
NET "Drop_soda_out" LOC = T11;
NET "Amt_err" LOC = R11;
NET "Qrcd_out" LOC = N11;
NET "Nrcd_out" LOC = V15;
NET "Drcd_out" LOC = M11;
NET "Qrcd_in" LOC = C4;
NET "Nrcd_in" LOC = D9;
NET "Soda_price_in[3]" LOC = V8;
NET "Soda_price_in[2]" LOC = U8;
NET "Soda_price_in[1]" LOC = N8;
NET "Soda_price_in[0]" LOC = M8;
NET "Clk_in" LOC = V10;
NET "tens_anode_out" LOC = N15;
NET "unused_anode" LOC = P17;
NET "ones_anode_out" LOC = N16;
NET "hund_anode_out" LOC = P18;
