//! **************************************************************************
// Written by: Map P.20131013 on Thu May 12 11:27:18 2016
//! **************************************************************************

SCHEMATIC START;
COMP "CAn" LOCATE = SITE "T17" LEVEL 1;
COMP "CBn" LOCATE = SITE "T18" LEVEL 1;
COMP "CCn" LOCATE = SITE "U17" LEVEL 1;
COMP "CDn" LOCATE = SITE "U18" LEVEL 1;
COMP "hund_anode" LOCATE = SITE "P18" LEVEL 1;
COMP "A<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "CEn" LOCATE = SITE "M14" LEVEL 1;
COMP "A<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "CFn" LOCATE = SITE "N14" LEVEL 1;
COMP "A<2>" LOCATE = SITE "V8" LEVEL 1;
COMP "CGn" LOCATE = SITE "L14" LEVEL 1;
COMP "A<3>" LOCATE = SITE "T5" LEVEL 1;
COMP "B<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "B<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "unused_anode" LOCATE = SITE "P17" LEVEL 1;
COMP "B<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "B<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "output<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "output<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "output<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "output<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "output<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "output<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "output<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "output<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "test_mode_in" LOCATE = SITE "B8" LEVEL 1;
COMP "Clock" LOCATE = SITE "V10" LEVEL 1;
COMP "Reset" LOCATE = SITE "C4" LEVEL 1;
COMP "tens_anode" LOCATE = SITE "N15" LEVEL 1;
COMP "ones_anode" LOCATE = SITE "N16" LEVEL 1;
SCHEMATIC END;

