//! **************************************************************************
// Written by: Map P.20131013 on Thu Mar 31 10:41:32 2016
//! **************************************************************************

SCHEMATIC START;
COMP "Output<0>" LOCATE = SITE "M11" LEVEL 1;
COMP "Output<1>" LOCATE = SITE "N11" LEVEL 1;
COMP "Output<2>" LOCATE = SITE "R11" LEVEL 1;
COMP "Output<3>" LOCATE = SITE "T11" LEVEL 1;
COMP "Input1<0>" LOCATE = SITE "V9" LEVEL 1;
COMP "Input1<1>" LOCATE = SITE "M8" LEVEL 1;
COMP "Input2<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "Input2<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "Control<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "Control<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "Control<2>" LOCATE = SITE "V8" LEVEL 1;
COMP "Control<3>" LOCATE = SITE "T5" LEVEL 1;
SCHEMATIC END;

