

NET "addr_in[2]" LOC = V8;
NET "addr_in[1]" LOC = U8;
NET "addr_in[0]" LOC = N8;
NET "data_in[3]" LOC = M8;
NET "data_in[2]" LOC = V9;
NET "data_in[1]" LOC = T9;
NET "data_in[0]" LOC = T10;
NET "addr_out[2]" LOC = T11;
NET "addr_out[1]" LOC = R11;
NET "addr_out[0]" LOC = N11;
NET "data_out[3]" LOC = V15;
NET "data_out[2]" LOC = U15;
NET "data_out[1]" LOC = V16;
NET "data_out[0]" LOC = U16;
NET "burst" LOC = D9;
NET "CAn_out" LOC = T17;
NET "CBn_out" LOC = T18;
NET "CCn_out" LOC = U17;
NET "CDn_out" LOC = U18;
NET "CEn_out" LOC = M14;
NET "CFn_out" LOC = N14;
NET "CGn_out" LOC = L14;
NET "clk" LOC = V10;
NET "ready" LOC = B8;
NET "reset" LOC = A8;
NET "unused_anode" LOC = P17;
NET "hund_anode_out" LOC = P18;
NET "tens_anode_out" LOC = N15;
NET "ones_anode_out" LOC = N16;

# PlanAhead Generated IO constraints 

NET "bus_id[7]" IOSTANDARD = LVCMOS25;
NET "bus_id[6]" IOSTANDARD = LVCMOS25;
NET "bus_id[5]" IOSTANDARD = LVCMOS25;
NET "bus_id[4]" IOSTANDARD = LVCMOS25;
NET "bus_id[3]" IOSTANDARD = LVCMOS25;
NET "bus_id[2]" IOSTANDARD = LVCMOS25;
NET "bus_id[1]" IOSTANDARD = LVCMOS25;
NET "bus_id[0]" IOSTANDARD = LVCMOS25;

# PlanAhead Generated physical constraints 

NET "rw" LOC = T5;
NET "bus_id[0]" LOC = C4;
