//! **************************************************************************
// Written by: Map P.20131013 on Thu May 12 10:18:02 2016
//! **************************************************************************

SCHEMATIC START;
COMP "ready" LOCATE = SITE "B8" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "CEn_out" LOCATE = SITE "M14" LEVEL 1;
COMP "bus_id<0>" LOCATE = SITE "C4" LEVEL 1;
COMP "CBn_out" LOCATE = SITE "T18" LEVEL 1;
COMP "unused_anode" LOCATE = SITE "P17" LEVEL 1;
COMP "ones_anode_out" LOCATE = SITE "N16" LEVEL 1;
COMP "tens_anode_out" LOCATE = SITE "N15" LEVEL 1;
COMP "addr_out<0>" LOCATE = SITE "N11" LEVEL 1;
COMP "addr_out<1>" LOCATE = SITE "R11" LEVEL 1;
COMP "addr_out<2>" LOCATE = SITE "T11" LEVEL 1;
COMP "rw" LOCATE = SITE "T5" LEVEL 1;
COMP "CFn_out" LOCATE = SITE "N14" LEVEL 1;
COMP "CCn_out" LOCATE = SITE "U17" LEVEL 1;
COMP "addr_in<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "data_out<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "addr_in<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "data_out<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "addr_in<2>" LOCATE = SITE "V8" LEVEL 1;
COMP "data_out<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "data_out<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "data_in<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "data_in<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "data_in<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "data_in<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "burst" LOCATE = SITE "D9" LEVEL 1;
COMP "CGn_out" LOCATE = SITE "L14" LEVEL 1;
COMP "reset" LOCATE = SITE "A8" LEVEL 1;
COMP "CDn_out" LOCATE = SITE "U18" LEVEL 1;
COMP "hund_anode_out" LOCATE = SITE "P18" LEVEL 1;
COMP "CAn_out" LOCATE = SITE "T17" LEVEL 1;
SCHEMATIC END;

